<header>
  <h1>{{title}}</h1>

  <nav>
    <ul>
      <li><a routerLink='addpost'>Create</a></li>
      <li><a routerLink='bloglist'>Messages</a></li>
      <li>
        <a>
          <i class="fa fa-user"></i>
          <!-- <ul class="submenu">
            <li>Paul</li>
            <li>Logout</li>
          </ul> -->
        </a>
      </li>
    </ul>
  </nav>
</header>

<!-- <div>
  <h1 class="animate-text">
    about<span class="yellow">{{textObj.text}}</span>
  </h1>
</div> -->

<main>
  <router-outlet (submitFormClicked)="onSubmitForm()"></router-outlet>
</main>

<div class="blackscreen" [class.visible]="isSubmitting">
  <section>
      <h3>Saving...</h3>
  </section>
</div>
